.Result {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  max-width: 95%;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex-direction: column;
}
.text-result{
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  width: 336px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  flex-direction: column;
}
.box-image{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  object-fit: contain;
}
.person-img {
  max-width: 290px;
  object-fit: contain;
}
.box-result {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-result p:nth-child(2) {
  color: #343a40;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  max-width: 336px;
}
.box-result p:nth-child(3) {
  color: #495057;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 336px;
}


h2{
  color: #343a40;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  max-width: 336px;
}
h3{
  color: #495057;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  max-width: 336px;
}